$cyan: hsl(179, 62%, 43%);
$lighs-cyan: hsl(181, 38%, 58%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

@font-face {
    font-family: 'karla';
    src: url(../fonts/Karla/Karla-VariableFont_wght.ttf);
    font-display: swap;
}