@font-face {
  font-family: "karla";
  src: url(../fonts/Karla/Karla-VariableFont_wght.ttf);
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: hsl(204deg, 43%, 93%);
  min-height: 100vh;
  display: grid;
  place-content: center;
  align-content: center;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  font-family: "karla";
}

.btn {
  display: block;
  background-color: hsl(71deg, 73%, 54%);
  color: #fff;
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

ul {
  font-family: "karla";
  list-style: none;
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.35;
}

h1,
h2,
p {
  font-family: "karla";
}

h1 {
  font-size: 1.25rem;
  color: hsl(179deg, 62%, 43%);
}

h2 {
  font-size: 1rem;
  color: hsl(71deg, 73%, 54%);
}

p {
  font-size: 0.85rem;
  line-height: 1.75;
  color: hsl(218deg, 22%, 67%);
}

main {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ar-1,
.ar-2,
.ar-3 {
  padding: 30px;
}

.ar-1 {
  background-color: #fff;
}

.ar-1 h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.ar-1 h2 {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.ar-2,
.ar-3 {
  color: #fff;
}

.ar-2 {
  background-color: hsl(179deg, 62%, 43%);
}

.ar-2 p,
.ar-2 h2,
.ar-3 h2,
.ar-3 p {
  color: #fff;
}

.ar-2 h2 {
  margin-bottom: 20px;
}

p.price {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 8px;
}

p.price span {
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.5);
}

.ar-3 {
  background-color: hsl(181deg, 38%, 58%);
}

.ar-3 h2 {
  margin-bottom: 20px;
}

@media screen and (min-width: 375px) {
  main {
    display: grid;
    grid-template-areas: "ar1 ar1" "ar2 ar3";
    max-width: 600px;
  }
  .ar-1 {
    grid-area: ar1;
  }
  .ar-2 {
    grid-area: ar2;
  }
  .ar-3 {
    grid-area: ar3;
  }
}